In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
url='https://dadosabertos.poa.br/dataset/ca4bbd08-5200-4548-a0ae-efde50b726bb/resource/b8692b31-eae2-494e-a4de-6842698d636f/download/sinasc_nascimentos.csv'
df = pd.read_csv(url, encoding = 'cp860', sep = ';')
df.head(10)

C:\Users\mathe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,data_extracao,data_nascimento,escolaridade_mae,raca_mae,estado_civil_mae,nascimento_mae,cbo_mae,ocupacao,nro_consultas_prenatal,cesaria_antes_parto,...,local_nascimento,parto,trabalho_parto,apresentacao_crianca,classe_robson,peso,possui_anomalia,cid_anomalia,sexo,raca
0,2021-01-01 01:58:41.064,12/2015,DE 4 A 7 ANOS,BRANCA,SOLTEIRO,05/1987,513210.0,COZINHEIRO DO SERVICO DOMESTICO,7 OU MAIS CONS,NaN,...,HOSPITAL,VAGINAL,INDUZIDO,CEF├üLICA,NaN,3230,N├âO,NaN,FEMININO,NaN
1,2021-01-01 01:58:41.084,12/2015,DE 8 A 11 ANOS,BRANCA,SOLTEIRO,09/1989,516135.0,MASSAGISTA,7 OU MAIS CONS,NaN,...,HOSPITAL,VAGINAL,N├âO INDUZIDO,CEF├üLICA,NaN,3190,N├âO,NaN,MASCULINO,NaN
2,2021-01-01 01:58:41.088,12/2015,COM 12 ANOS OU MAIS,BRANCA,CASADO,10/1987,331305.0,PROFESSOR DE NIVEL MEDIO NO ENSINO PROFISSIONA...,7 OU MAIS CONS,N├âO,...,HOSPITAL,CESAREO,N├âO INDUZIDO,CEF├üLICA,NaN,3535,N├âO,NaN,FEMININO,NaN
3,2021-01-01 01:58:41.092,12/2015,DE 8 A 11 ANOS,BRANCA,SOLTEIRO,08/1998,999992.0,DONA DE CASA,DE 4 A 6 CONS,NaN,...,HOSPITAL,VAGINAL,INDUZIDO,CEF├üLICA,NaN,3968,N├âO,NaN,MASCULINO,NaN
4,2021-01-01 01:58:41.092,12/2015,DE 4 A 7 ANOS,PRETA,SOLTEIRO,08/1997,999992.0,DONA DE CASA,7 OU MAIS CONS,SIM,...,HOSPITAL,CESAREO,N├âO INDUZIDO,CEF├üLICA,NaN,2975,N├âO,NaN,MASCULINO,NaN
5,2021-01-01 01:58:41.092,12/2015,COM 12 ANOS OU MAIS,BRANCA,UNIAO CONSENSUAL,01/1983,141615.0,GERENTE DE LOGISTICA (ARMAZENAGEM E DISTRIBUICAO),DE 4 A 6 CONS,SIM,...,HOSPITAL,CESAREO,N├âO INDUZIDO,CEF├üLICA,NaN,3025,N├âO,NaN,MASCULINO,NaN
6,2021-01-01 01:58:41.092,12/2015,DE 8 A 11 ANOS,BRANCA,CASADO,03/1984,521110.0,VENDEDOR DE COMERCIO VAREJISTA,7 OU MAIS CONS,SIM,...,HOSPITAL,CESAREO,N├âO INDUZIDO,CEF├üLICA,NaN,3645,N├âO,NaN,MASCULINO,NaN
7,2021-01-01 01:58:41.092,12/2015,DE 8 A 11 ANOS,BRANCA,SOLTEIRO,05/1990,411010.0,ASSISTENTE ADMINISTRATIVO,7 OU MAIS CONS,N├âO,...,HOSPITAL,CESAREO,INDUZIDO,CEF├üLICA,NaN,3665,N├âO,NaN,MASCULINO,NaN
8,2021-01-01 01:58:41.096,09/2015,DE 8 A 11 ANOS,BRANCA,SOLTEIRO,10/1986,999992.0,DONA DE CASA,7 OU MAIS CONS,SIM,...,HOSPITAL,CESAREO,N├âO INDUZIDO,CEF├üLICA,NaN,3585,N├âO,NaN,FEMININO,NaN
9,2021-01-01 01:58:41.096,09/2015,DE 8 A 11 ANOS,PARDA,CASADO,03/1989,999992.0,DONA DE CASA,7 OU MAIS CONS,SIM,...,HOSPITAL,CESAREO,N├âO INDUZIDO,P├ÊLVICA OU POD├üLICA,NaN,3540,N├âO,NaN,MASCULINO,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182933 entries, 0 to 182932
Data columns (total 22 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   data_extracao           182933 non-null  object
 1   data_nascimento         182933 non-null  object
 2   escolaridade_mae        182853 non-null  object
 3   raca_mae                179781 non-null  object
 4   estado_civil_mae        182872 non-null  object
 5   nascimento_mae          179778 non-null  object
 6   cbo_mae                 182823 non-null  float64
 7   ocupacao                182823 non-null  object
 8   nro_consultas_prenatal  182933 non-null  object
 9   cesaria_antes_parto     90922 non-null   object
 10  duracao_gestacao        182824 non-null  object
 11  gravidez                182903 non-null  object
 12  local_nascimento        182933 non-null  object
 13  parto                   182914 non-null  object
 14  trabalho_parto          179112 non-null  object
 15  apresentacao_crianca    179515 non-null  object
 16  classe_robson           20805 non-null   object
 17  peso                    182933 non-null  int64
 18  possui_anomalia         182891 non-null  object
 19  cid_anomalia            2561 non-null    object
 20  sexo                    182913 non-null  object
 21  raca                    3052 non-null    object
dtypes: float64(1), int64(1), object(20)
memory usage: 30.7+ MB

In [15]:
df.describe()

             cbo_mae           peso
count  182823.000000  182933.000000
mean   629376.633405    3187.300503
std    336114.670096     579.669503
min         0.000000       0.000000
25%    322205.000000    2900.000000
50%    516115.000000    3232.000000
75%    999992.000000    3550.000000
max    999994.000000    6035.000000